name: Deploy

on:
  workflow_run:
    workflows:
      - Nix
    branches:
      - main
    types:
      - completed
  workflow_dispatch:

concurrency: deploy

jobs:
  deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: samueldr/more-space-action@v2025-01-24.pre

      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - uses: cachix/cachix-action@v16
        with:
          name: foosteros
          extraPullNames: cosmic

      - uses: actions/checkout@v6

      - id: build
        name: Build hosts
        run: |
          nix -L --show-trace build .#deploy
          echo "spec=$(nix -L --show-trace eval --raw .#deploy)" >> $GITHUB_OUTPUT

      - name: Deploy hosts
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
          CACHIX_ACTIVATE_TOKEN: ${{ secrets.CACHIX_ACTIVATE_TOKEN }}
          SPEC: ${{ steps.build.outputs.spec }}
        run: |
          cachix push foosteros "$SPEC"
          cachix deploy activate "$SPEC"
