name: Installer

on:
  workflow_run:
    workflows:
      - Nix
    branches:
      - main
    types:
      - completed
  workflow_dispatch:

concurrency: installer

jobs:
  populate:
    name: Populate Build Matrix
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    outputs:
      hosts: ${{ steps.identify.outputs.hosts }}
      filenames: ${{ steps.identify.outputs.filenames }}
      start: ${{ steps.identify.outputs.start }}
    steps:
      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - name: 'Remove unnecessary cache.lix.systems substituter'
        # TODO: remove if there becomes a better way to do this with the installer
        run: |
          sudo sed -i -e 's# https://cache\.lix\.systems/\?##' /etc/nix/nix.conf

      - uses: cachix/cachix-action@v16
        with:
          name: foosteros
          extraPullNames: cosmic

      - uses: actions/checkout@v5

      - id: identify
        name: Identify hosts capable of being built into an installer
        run: |
          hosts="$(nix -L eval .#nixosConfigurations --apply builtins.attrNames --json | jq -r '.[]')"
          buildHosts=""
          buildFilenames=""

          for host in $hosts; do
            if nix -L eval .#nixosConfigurations."$host".config.system.build.installer.outPath &>/dev/null \
                && [ "$(nix -L eval --raw .#nixosConfigurations."$host".pkgs.stdenv.hostPlatform.uname.processor)" = "$(uname -m)" ]; then
              buildHosts="$(printf '%s\n%s\n' "$buildHosts" "$host")"
              filename="$(nix -L --show-trace eval --raw .#nixosConfigurations."$host".config.system.build.installer.name)"
              buildFilenames="$(printf '%s\n%s\n' "$buildFilenames" "$filename")"
            fi
          done

          echo "hosts=$(echo "$buildHosts" | jq --null-input --raw-input --compact-output '[inputs | select(length>0)]')" >> $GITHUB_OUTPUT
          echo "filenames=$(echo "$buildFilenames" | jq --null-input --raw-input --compact-output '[inputs | select(length>0)]')" >> $GITHUB_OUTPUT

          echo "start=$(date +%s)" >> $GITHUB_OUTPUT

  build:
    name: 'Build Installer: ${{ matrix.host }}'
    needs: [populate]
    runs-on: ubuntu-latest
    outputs:
      filename: ${{ steps.build.outputs.filename }}
    strategy:
      matrix:
        host: ${{ fromJSON(needs.populate.outputs.hosts) }}
    steps:
      - uses: samueldr/more-space-action@v2025-01-24.pre
        with:
          swapfile-size: '3584MiB'
          enable-lvm-span: true
          lvm-span-mountpoint: '/nix'
          lvm-span-free-space: '{"/": "10737418240"}'

      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - name: 'Remove unnecessary cache.lix.systems substituter'
        # TODO: remove if there becomes a better way to do this with the installer
        run: |
          sudo sed -i -e 's# https://cache\.lix\.systems/\?##' /etc/nix/nix.conf

      - uses: cachix/cachix-action@v16
        with:
          name: foosteros
          extraPullNames: cosmic

      - uses: actions/checkout@v5

      - id: build
        name: Build ISO
        env:
          HOST: ${{ matrix.host }}
        run: |
          nix -L --show-trace build ".#nixosConfigurations.$HOST.config.system.build.installer"
          echo "filename=$(nix -L --show-trace eval --raw ".#nixosConfigurations.$HOST.config.system.build.installer.name")" >> $GITHUB_OUTPUT

      - name: Deploy ISO to website
        env:
          SFTP_HOST: ${{ secrets.SFTP_HOST }}
          SFTP_USER: ${{ secrets.SFTP_USER }}
          SFTP_KEY: ${{ secrets.REPO_KEY }}
          SFTP_PATH: ${{ secrets.SFTP_PATH }}
          FILENAME: ${{ steps.build.outputs.filename }}
        run: |
          sftp_key="$(mktemp)"
          printenv SFTP_KEY >"$sftp_key"

          nix run nixpkgs#rclone -- copyto --sftp-host "$SFTP_HOST" --sftp-user "$SFTP_USER" --sftp-key-file "$sftp_key" --sftp-set-modtime=false --copy-links ./result :sftp:"$SFTP_PATH"/"$FILENAME"

  sync:
    name: 'Sync Deployment'
    needs: [populate, build]
    runs-on: ubuntu-latest
    steps:
      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - name: 'Remove unnecessary cache.lix.systems substituter'
        # TODO: remove if there becomes a better way to do this with the installer
        run: |
          sudo sed -i -e 's# https://cache\.lix\.systems/\?##' /etc/nix/nix.conf

      - uses: cachix/cachix-action@v16
        with:
          name: foosteros
          extraPullNames: cosmic

      - uses: actions/checkout@v5

      - name: Remove old files
        env:
          SFTP_HOST: ${{ secrets.SFTP_HOST }}
          SFTP_USER: ${{ secrets.SFTP_USER }}
          SFTP_KEY: ${{ secrets.REPO_KEY }}
          SFTP_PATH: ${{ secrets.SFTP_PATH }}
          START_TIME: ${{ needs.populate.outputs.start }}
        run: |
          sftp_key="$(mktemp)"
          printenv SFTP_KEY >"$sftp_key"

          nix run nixpkgs#rclone -- delete --sftp-host "$SFTP_HOST" --sftp-user "$SFTP_USER" --sftp-key-file "$sftp_key" --min-age "$(expr "$(date +%s)" - "$START_TIME")s" :sftp:"$SFTP_PATH/"
